I ran into an unexpected oddity using pandas.Series.value_counts(). APparently, it doesn;t always return the length of the counted series returned. 

It does for 66 values; it doesn;t for 43. I'm guessing it makes the detemination at 50?

This seems non-intuitive. Why not always return the length?

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('pandas_series_value_counts.csv', 
                    header=0, 
                    parse_dates=['Date'],
                    dtype={'Station Number' : str}
                    )

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 5 columns):
Date              99 non-null datetime64[ns]
Station Number    99 non-null object
Depth             99 non-null float64
Salinity          99 non-null float64
Temperature       99 non-null float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 4.0+ KB

In [5]:
dt = df['Date']
dt_counts = dt.value_counts()

st = df['Station Number']
st_counts = st.value_counts()

dp = df['Depth']
dp_counts = dp.value_counts()

sa = df['Salinity']
sa_counts = sa.value_counts()

tm = df['Temperature']
tm_counts = tm.value_counts()

In [6]:
dt_counts

1969-04-22    12
1969-04-23    11
1969-04-24     8
1969-04-18     8
1969-04-17     7
1969-04-21     7
1969-04-14     6
1969-04-19     6
1969-04-15     6
1969-04-13     6
1969-04-16     5
1969-04-12     4
1969-04-20     4
1969-04-10     3
1969-04-25     3
1969-04-11     3
Name: Date, dtype: int64

In [7]:
st_counts

7     10
6      9
8      8
14     5
18     5
11     5
17     5
19     5
15     5
20     5
10     5
12     5
9      5
13     5
16     5
21     4
5      4
4      4
Name: Station Number, dtype: int64

In [8]:
dp_counts

4.0     21
2.0     21
0.5     21
6.0     20
12.0    14
9.0      1
11.0     1
Name: Depth, dtype: int64

In [9]:
sa_counts

0.1     13
0.2      7
0.3      6
7.8      2
12.2     2
        ..
1.6      1
1.3      1
21.1     1
17.8     1
6.0      1
Name: Salinity, Length: 66, dtype: int64

In [10]:
tm_counts

14.3    18
14.0    16
14.2     8
14.1     8
13.7     6
14.4     6
13.6     6
13.0     4
13.9     4
13.1     3
13.8     3
14.6     3
13.2     3
14.9     2
13.5     2
15.2     1
15.1     1
13.4     1
14.7     1
15.8     1
14.5     1
16.2     1
Name: Temperature, dtype: int64